@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.App{
font-family: 'Roboto', sans-serif;
  .Design-poster{
    height: 95vh;
    position: relative;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    .poster-footer{
    display: flex;
    width: 100%;
    align-items: flex-end;
    height: 200px;
    justify-content: space-evenly;
    }
    img{
    margin-top: 5rem;
    }
    
    h4{
      width: 80%;
      text-align: left;
      font-weight:400;
      font-size: large;
    }
    .logo-icon{
           position: absolute;
           left: 2rem;
           top: 0.2rem;
           height: 25px;
           margin: 3px 0;
    }
  }
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      footer{
        margin: 3rem 15rem;
        text-align: left;
        font-size: small;
        span{
          color: blue;
          font-weight: 400;
          cursor: pointer;
        }
      }
      
}
body{
  text-align: center;
}
.Login-Page{
  width: 50%;
}
.input-box{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0 auto;
  justify-content: space-evenly;
  height: 150px;
  
}
.googlelogo{
  height: 23px;
  margin-right: 6px;
}
.signup{
  margin-right: 11rem;
  margin-top: 1rem;
}
.reminder{
  display: flex;
  align-items: center;
  color: silver;
  
}
.Header{
  display: flex;
  justify-content: flex-end;
  h4{
    cursor: pointer;
  }
  
}
.label{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
  color: silver;
  p{
    cursor: pointer;
  }
}
.google{
  padding: 10px;
  background-color: aliceblue;
  width: 30%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  .google-logo{
    height: 18px;
    margin-right: 4px;
  }
}
button{
  width: 8rem;
  height: 3rem;
  background-color: rgb(57, 57, 243);
  color: white;
  border: transparent;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.input{
  padding: 0.9rem;
  outline: transparent;
  border: none;
  background-color: aliceblue;
  border-radius: 10px;
 
}